body{
  width: 8.5in;
  height: 11in;
  border: solid transparent;
  border-top-width: 1in;
  border-bottom-width: 0.2in;
  border-left-width: 0.5in;
  border-right-width: 0.5in;
  box-sizing: border-box;
  margin: 0;
}

#main{

}

#primary-info{
  margin-bottom: .5in;
}

h1{
  font-size: 48px;
}

table{
  column-width: 50%;
}

#left{
  padding-right: 0.7in;
}

*{
  font-size: 10px;
}

.small{
  font-size: 9px;
}

.mb-1{
  margin-bottom: 2px;
}

.primary{
  color: #7CA655;
}

h3{
  font-size: 11px;
}

hr.primary{
  background-color: #7CA655;
}

#left{
  vertical-align: top;
}

hr{
  width: 150px;
  height: 10px;
  background-color: black;
  margin-bottom: 4px;
}
