<html>
  <head>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="../css-reset.css" />
  </head>
  <body>
    <div class="design" id="design1"></div>
    <div class="design" id="design2"></div>
    <div id="main">
      <div id="primary-info" class="small">
        <p>4567 Main Street</p>
        <p>City, State 98052</p>
        <p>(718) 555–0100</p>
        <p>
          <a href="mailto:yuuritanaka@example.com">yuuritanaka@example.com</a>
        </p>
        <p>
          <a href="https://linkedin.com/in/yuuritanaka"
            >linkedin.com/in/yuuritanaka</a
          >
        </p>
      </div>
      <div>
        <h1 class="title">Yuri Tanaka</h1>
        <table>
          <tr>
            <td id="left">
              <hr class="primary"/>
              <p class="primary">
                A resume is a document that sums up your qualifications for the
                job that you're applying for. Studies say that the average
                recruiter scans a resume for all of six seconds—so it’s
                absolutely critical for your resume to be clear, concise, and
                easy to read. You don’t want the recruiter to read your resume
                over and over again or find it really boring. First impressions
                matter. State your career goals and show how they align with the
                job description you’re targeting. Be brief and keep it from
                sounding generic. Be yourself.
              </p>
            </td>
            <!-- Number of work experience -->
            <td>
              <hr />
              <div>
                <p class="small mb-1">2019 - 2020</p>
                <h3 class="title primary">Design Director</h3>
                <h3 class="title">First Up Consultants</h3>
                <p>
                  Writing concisely isn’t an easy task, but a new feature called
                  Editor in Word can help. You can access Editor directly from
                  your Ribbon. Editor is free to use, but if you’re a Microsoft
                  365 subscriber, you’ll actually unlock intelligent tools that
                  will scan your writing for advanced grammar and style
                  refinements—conciseness being one of them.
                </p>
              </div>

              <div>
                <p class="small mb-1">2010 - 2019</p>
                <h3 class="title primary">Design Director</h3>
                <h3 class="title">First Up Consultants</h3>
                <p>
                  Writing concisely isn’t an easy task, but a new feature called
                  Editor in Word can help. You can access Editor directly from
                  your Ribbon. Editor is free to use, but if you’re a Microsoft
                  365 subscriber, you’ll actually unlock intelligent tools that
                  will scan your writing for advanced grammar and style
                  refinements—conciseness being one of them.
                </p>
              </div>

              <div>
                <p class="small mb-1">2019 - 2020</p>
                <h3 class="title primary">Design Director</h3>
                <h3 class="title">First Up Consultants</h3>
                <p>
                  Writing concisely isn’t an easy task, but a new feature called
                  Editor in Word can help. You can access Editor directly from
                  your Ribbon. Editor is free to use, but if you’re a Microsoft
                  365 subscriber, you’ll actually unlock intelligent tools that
                  will scan your writing for advanced grammar and style
                  refinements—conciseness being one of them.
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
