<footer class="bg-dark text-light py-5 fs-5">
  <div class="container">
    <p>
      This project was designed and made by
      <a href="https://linktr.ee/victorevogor" target="_blank"
        >Victor Evogor</a
      >
    </p>
    <p>
      If this project really helped you,
      <a
        href="https://twitter.com/intent/tweet?source=https://www.resumebuilder.netlify.app/&text=Hey%20@victorevogor!%20I%20just%20built%20a%20really%20cool%20resume%20with%20https://resumebuilder.netlify.app%20!%20Thanks!"
        target="_blank"
      >
        let me know on twitter
      </a>
    </p>
    <!-- TODO: Change the link to the current domain -->
    <p>
      You can find the full source code on
      <a href="https://github.com/Victor-Evogor/resume-builder" >GitHub</a>
    </p>
    <p class="text-center">&copy;  <%- (new Date()).getFullYear() -%> </p>

  </div>
</footer>
</body>
</html>
